@model dmMoWizz.Models.ViewModels.SearchViewModel
<div class="parallax-container" style="height:400px">
    <div class="parallax"><img src="/Images/cinema.jpg"></div>
</div>
<div class="row" style="margin-top:50px" id="form-container">
    <form class="col s10 offset-s1 center-align" id="search-form">
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input placeholder="Title" id="title" type="text" class="validate">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input placeholder="Year" id="year" type="text" class="validate">
                <label for="year">Year</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <select multiple id="genre">
                    <option value="" disabled>Choose genre</option>
                    @foreach (var genre in Model.GenresDropdown)
                    {
                        <option value=@genre.Id>@genre.Name</option>
                    }
                </select>
                <label>Choose genre</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s3 left-align">
                <p style="line-height: 3rem; font-size: 16px">Sort by</p>
                <p>
                    <label>
                        <input name="sort" type="radio" value="name" checked />
                        <span>Name</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="sort" type="radio" value="year" />
                        <span>Year</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="sort" type="radio" value="rate" />
                        <span>Average rate</span>
                    </label>
                </p>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Search
            <i class="material-icons right">search</i>
        </button>
    </form>
</div>
<div id="search-container" style="display:none">
    <div style="height:300px; width:100px; margin-left:45%" class="valign-wrapper center-align">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').formSelect();
        $("#search-form").submit(function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            $("#search-container").fadeIn();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#search-container").offset().top
            }, 1000);
            var data = {
                title: $('#title').val(),
                year: $('#year').val(),
                genre: $('#genre').val(),
                sort: $('input[type=radio]:checked').val()
            };
            $.ajax({
                type: "POST",
                url: "/movie/search",
                data: data,
                success: function (response) {
                    $("#search-container").fadeOut();
                    $("#search-container").html(response);
                    $("#search-container").fadeIn();
                },
                error: function () {
                    M.toast({ html: 'Oops! Something went wrong. Try again.' })
                }
            });
        });
        $('.parallax').parallax();
    });
</script>