@using dmMoWizz.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<div class="row">
    <div class="col s4">

        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="col s8" style="background-image:url(/Images/movies.jpg); height:1000px">

    </div>
</div>