@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}


<div class="slider fullscreen" style="filter:grayscale(100%)">
    <ul class="slides">
        <li>
            <img src="/Images/godfather.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>Made just for you</h3>
                <h5 class="light grey-text text-lighten-3">because we are interested in movies you like</h5>
            </div>
        </li>
        <li>
            <img src="/Images/shawshank.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h3>Personalized</h3>
                <h5 class="light grey-text text-lighten-3">by providing a tailored movie experince</h5>
            </div>
        </li>
        <li>
            <img src="/Images/titanic.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h3>Simple and easy</h3>
                <h5 class="light grey-text text-lighten-3">Only Facebook account needed</h5>
            </div>
        </li>
        <li>
            <img src="/Images/wolf.png"> <!-- random image -->
            <div class="caption right-align" style="top:70% !important">
                <h3>Popular movies</h3>
                <h5 class="light grey-text text-lighten-3">carefully chosen</h5>
            </div>
        </li>
    </ul>
</div>
<a class="fb-logo" href="/account/externallogin?provider=Facebook">

</a>

<script>
    $(document).ready(function () {
        $('.slider').slider();
    });
</script>