@model IEnumerable<dmMoWizz.Models.ViewModels.WatchlistItemViewModel>
<div class="parallax-container" style="height:250px">
    <div class="parallax"><img src="/Images/cinema.jpg"></div>
</div>
<div class="row">
    <div class="col s10 offset-s1">
        <table>
            <thead>
                <tr></tr>
            </thead>

            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col s6">
                                    <img src="@movie.PosterURL" />
                                </div>
                                <div class="col s6">
                                    <div>
                                        @movie.Title
                                    </div>
                                    <div>
                                        <span style="font-style:italic">@String.Join(", ", movie.Cast.Select(x => x.Name))</span>
                                    </div>
                                    <div>
                                        @movie.Overview
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.parallax').parallax();
    });
</script>